<!DOCTYPE html>
<html>
  <head>
    <title>Foton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <meta name="theme-color" content="#000000">
    <%= favicon_link_tag "favicon/apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "180x180" %>
    <%= favicon_link_tag "favicon/favicon-32x32.png", rel: 'icon', type: 'image/png', sizes: "32x32" %>
    <%= favicon_link_tag "favicon/favicon-16x16.png", rel: 'icon', type: 'image/png', sizes: "16x16" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_tag do %>
      <% if logged_in? %>
        window.currentUser =
          <%= (render "api/users/user.json.jbuilder",
              user: current_user).html_safe %>
      <% end %>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
